@import '//components/Card/_Card.scss';      
@import '//components/Header/_Header.scss';
@import '//components/Main/_Main.scss';

:root{
    //Set-BackGround-color
    --color-light:#f8f9fa;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background: var(--color-light);
}
